doctype html
html
  head
    title= "Real Time Web Chat"
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
  body
    #content(style='width: 500px; height: 300px; align: center; margin: 0 0 20px 0; border: solid 1px #888; overflow-y: scroll;')
    .controls
      input#name(style='width:350px')
      br
      input#field(style='width:350px')
      br
      input#send(type='button', value='send', style='width:100px; position: relative; left:256px;')
